# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/

# Environment-specific files
.env
.env.*

# Logs and temporary files
*.log
*.swp
*.tmp

# Database files
*.db

# System-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook specific files
.ipynb_checkpoints/

# pyenv
.python-version

# Output directory
outputs/

# Data
data/

# Models
models/



